.header-login{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.link-login{
    font-size: 24px;
    color: #2E86C1;
    text-decoration: underline;
    padding: 0 5vh;
}

.img-header-login{
    width: 25vh;
}