main{
    background-image: url('/img/LoginBg.png');
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F8FB;
    width: 80%;
    height: 80vh;
}

.login-onda{
    position: absolute;
    width: 60%;
    bottom: 10%;
}