.container-linha {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 6px;
    place-items: center;
}

.linha-tabela{
  font-family: var(--font-primaria);
  color: var(--azul-claro);
  padding: 2vh 0vh;
  font-size: 20px;
}

.linha-estado{
  color: var(--branco);
  width: max-content;
  padding: 15px 25px;
  border-radius: 15px;
}

.linha-prontuario:hover{
  cursor: pointer;
}

.estado-badge {
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  min-width: 140px;
  text-align: center;
}

.linha-prontuario {
  color: var(--azul-escuro);
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  transition: 0.3s;
}

.linha-prontuario:hover {
  opacity: 0.8;
}

