.internacao-opcoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 3vh;
    background-color: var(--cinza);
}

.usuario{
    display: flex;
    align-items: center;
}

.usuario-texto{
    font-size: 24px;
    font-family: var(--font-primaria);
    margin-left: 10px;
}

.usuario-filtro{
    display: flex;
    align-items: center;
}

.usuario-select{
    font-family: var(--font-primaria);
    border: 1px solid var(--preto);
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: var(--azul-claro);
}

.container-tabela {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    max-height: 60vh; 
    overflow-y: auto;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.h1-tabela{
    padding: 3vh 5vh;
    font-size: 28px;
    font-weight: 600;
}

.container-titulo-tabela {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: bold;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 6px;
}

.titulo-tabela{
    font-family: Inter;
    color: var(--azul-escuro2);
    font-size: 24px;
}