.container-form-login{
    display: flex;
    width: 100%; 
}

.h2-login{
    font-size: 32px;
    width: 100%;     
    color: var(--azul-claro);
}

.form-login{
    display: flex;
    flex-direction: column;
    padding: 0vh 10vh;
}

.container-login{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 2vh 0vh;
    font-size: 20px;
    color: var(--azul-claro);
}

.input-login {
    border: none;
    border-bottom: 2px solid var(--azul-claro);
    color: var(--azul-claro);
    padding: 10px 5px;
    font-size: 20px;
    background-color: transparent;
    outline: none;
    transition: all 0.3s ease;
    position: relative;
}

.input-login:focus {
    border-bottom: 2px solid #1A5276;
    background-color: rgba(46, 134, 193, 0.05); 
    box-shadow: 0 4px 12px rgba(46, 134, 193, 0.3);
    transform: scale(1.02);
}

.p-login{
    font-size: 20px;
}

.span-login{
    color: var(--azul-claro);
    text-decoration: underline;
    cursor: pointer;
}

.button-login {
    background-color: #E20B26;
    color: var(--branco);
    width: 200px;
    padding: 10px 15px;
    border-radius: 24px;
    font-size: 18px;
    border: none;
    margin: 2vh 0;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.button-login:hover {
    background-color: #c00920; 
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}

.button-login:active {
    transform: scale(0.98); 
}

.img-form-login{
    padding: 0 5vh;
    width: 70%;
    height: 45vh;
    object-fit: cover;
}

@media (max-width: 768px) {
    .container-form-login {
        flex-direction: column; 
        align-items: center; 
    }

    .img-form-login {
        display: none; 
    }

    .form-login {
        padding: 5vh 5vh; 
        width: 100%; 
    }

    .h2-login {
        font-size: 24px;
        text-align: center; 
    }

    .input-login {
        font-size: 18px; 
    }

    .button-login {
        width: 100%;
    }

    .container-login {
        width: 100%; 
    }
}